/* 
这是一个全局的css样式库。欢迎使用YYCQueryUI样式库；
 */
/* 
input{
    border: none;
    appearance:none;
    -moz-appearance:none;
    outline:none;//input标签聚焦不出现默认边框:
    -webkit-appearance: none;//用于IOS下移除原生样式
}
//or:
input:focus{ outline:none; }//input标签聚焦不出现默认边框:
border: none; appearance:none; -moz-appearance:none; outline:none;//input标签聚焦不出现默认边框: -webkit-appearance: none;//用于IOS下移除原生样式 } //or: input:focus{ outline:none; }//input标签聚焦不出现默认边框:
input标签placeholder样式重设:


 */

/* 清空默认 */

/* 布局 */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  width: 100%;
  margin: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
/* 将所有的布局类标签都设置为块 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
/* 音频进程 cavas */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
/* 清空a标签默认样式 */
a {
  background-color: transparent;
  color: #337ab7;
  text-decoration: none;
}
a:active,
a:hover {
  outline: 0;
}
/* 清空列表类标签默认样式+-----------************** */
ul,
ol,
li,
dd,
dt,
dl {
  list-style: none;
}

* {
  box-sizing: border-box;
}
*::after {
  box-sizing: border-box;
}
*::before {
  box-sizing: border-box;
}

/* 布局 */
.container {
  width: 95%;
  padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;
}
.container-fluid {
  width: 100%;
  padding: 0px 15px;
}

/* 按钮组件样式 */
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  text-align: center;
}
.btn-default {
  background-color: #333;
  color: #fff;
  border: 1px solid #333;
}
/* 表单元素 元素中内容样式设置 */
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
/* 清空表单样式 */
input {
  border: none;
  appearance: none;
  -moz-appearance: none;
  outline: none;
  -webkit-appearance: none;
}

/* 按钮样式示例 */

/* 成功 */
.btn-success {
  border-color: #67c23a;
  background-color: #67c23a;
  color: #fff;
}
/* 警告  */
.btn-warning {
  background-color: #e6a23c;
  color: #fff;
  border-color: #e6a23c;
}
/* 错误 */
.btn-error {
  color: #fff;
  background-color: #f56c6c;
  border-color: #f56c6c;
}
/* 取消 */
.btn-cancel {
  color: #fff;
  background-color: #909399;
  border-color: #909399;
}
/* 确认 */
.btn-sure {
  color: #fff;
  background-color: #8bc220;
  border-color: #8bc220;
}
/* 默认   */
.btn-default {
  color: #fff;
  background-color: #2f2f2f;
  border-color: #2f2f2f;
}
/* 危险 */
.btn-danger {
  color: #fff;
  background-color: #ff1022;
  border-color: #ff1022;
}
/* 首选   */
.btn-primany {
  color: #fff;
  background-color: #409eff;
  border-color: #409eff;
}
/* 一般信息   */
.btn-info {
  color: #fff;
  background-color: #01aaed;
  border-color: #01aaed;
}
/* 禁止按钮   */
/* .btn-disable{
    color: #fff;
    background-color: #909399;
    border-color:#909399 ;
} */
/* 百搭按钮   */
.btn-normal {
  color: #fff;
  background-color: #ffb800;
  border-color: #ffb800;
}
/* 暖色按钮   */
.btn-warm {
  color: #fff;
  background-color: hsl(51, 93%, 54%);
  border-color: hsl(51, 93%, 54%);
}
/* 失败颜色 */
.btn-fial {
  color: #fff;
  background-color: grey;
  border-color: grey;
}

/* 渐变按钮 */

/* 成功   */
.btn-success-rgb {
  background-image: linear-gradient(
    135deg,
    rgb(105, 255, 151) 10%,
    rgb(0, 228, 255) 100%
  );
  color: #fff;
}

/* 警告   */
.btn-warning-rgb {
  background-image: linear-gradient(
    135deg,
    rgb(253, 110, 106) 10%,
    rgb(255, 198, 0) 100%
  );
  color: #fff;
}
/* 错误   */
.btn-error-rgb {
  background-image: linear-gradient(
    135deg,
    rgb(240, 95, 87) 10%,
    rgb(54, 9, 64) 100%
  );
  color: #fff;
}
/* 取消   */
.btn-cancel-rgb {
  background-image: linear-gradient(
    135deg,
    rgb(107, 95, 95) 10%,
    rgb(63, 56, 65) 100%
  );
  color: #fff;
}
/* 确认   */
.btn-sure-rgb {
  background-image: linear-gradient(
    135deg,
    rgb(112, 245, 112) 10%,
    rgb(73, 198, 40) 100%
  );
  color: #fff;
}
/* 默认   */
.btn-default-rgb {
  background-image: linear-gradient(
    135deg,
    rgb(255, 219, 1) 10%,
    rgb(14, 25, 125) 100%
  );
  color: #fff;
}
/* 危险 */
.btn-danger-rgb {
  background-image: linear-gradient(
    135deg,
    rgb(253, 216, 25) 10%,
    rgb(232, 5, 5) 100%
  );
  color: #fff;
}
/* 首选   */
.btn-primany-rgb {
  background-image: linear-gradient(
    135deg,
    rgb(82, 229, 231) 10%,
    rgb(19, 12, 183) 100%
  );
  color: #fff;
}
/* 一般信息   */
.btn-info-rgb {
  background-image: linear-gradient(
    135deg,
    rgb(151, 171, 255) 10%,
    rgb(18, 53, 151) 100%
  );
  color: #fff;
}
/* 禁止按钮   */
.btn-disable-rgb {
  background-color: rgba();
  color: #fff;
}
/* 百搭按钮   */
.btn-normal-rgb {
  background-image: linear-gradient(
    135deg,
    rgb(255, 233, 133) 10%,
    rgb(250, 116, 43) 100%
  );
  background-color: rgba();
  color: #fff;
}
/* 暖色按钮   */
.btn-warm-rgb {
  background-image: linear-gradient(
    135deg,
    rgb(255, 168, 168) 10%,
    rgb(252, 255, 0) 100%
  );
  color: #fff;
}
/* 失败   */
.btn-fail-rgb {
  background-image: linear-gradient(
    135deg,
    rgb(59, 38, 103) 10%,
    rgb(188, 120, 236) 100%
  );
  color: #fff;
}

/* 型号 */
/* 大按钮   */
.btn-bg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

/* 小按钮 */
.btn-md {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
/* 超小按钮 */
.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

/* 圆角按钮  */
.btn-radius {
  border-radius: 50px;
}
/* 伪类样式按钮 */

.btn-butt:hover {
  background-color: #ffb800;
  color: #fff;
}





/* 表单样式示例 */
/* 表格样式 */
/* 清空表格默认样式 */
table {
  background-color: transparent;
  /* 表格塌陷 */
  border-collapse: collapse;
  border: 0px;
}
th {
  font-weight: bold;
  color: #909399;
}
.table {
  width: 100%;
  min-width: 100%;
  margin-bottom: 20px;
}
.table td {
  border: 1px solid #e0e0e0;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  color: #606263;
  padding: 10px 0 10px 15px;
}
.table > thead > tr > th {
  text-align: left;
  font-weight: 600;
  color: #606263;
  padding: 10px 0 10px 15px;
}
.table-column > tbody > tr > td {
  border-right: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
}
.table-column > tbody > tr > td:first-child {
  border-left: 1px solid transparent;
}
.table-column > tbody > tr > td:last-child {
  border-right: 1px solid transparent;
}
.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #fafafa;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
}
.table-striped > tbody > tr > td {
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
}
.table-hover > tbody > tr:hover > td {
  /* background-color: #f5f7fa !important; */
  /* background-color: #000; */
  /* color: #fff; */
  background-color: #ccc !important;
  border-bottom: 1px solid #ccc !important;
  color: #fff !important;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > td,
.table-condensed > tbody > tr > th {
  padding: 5px;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #f56c6c;
  color: #f3e1e1;
  border-bottom: 1px solid #f56c6c;
}
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #01aaed;
  color: #d7e5f5;
  border-bottom: 1px solid #01aaed;
}
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #8bc220;
  color: #d4f5e2;
  border-bottom: 1px solid #8bc220;
}
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #ff1022;
  color: #f7cdc7;
  border-bottom: 1px solid #ff1022;
}
.table > thead > tr > th.primary,
.table > tbody > tr > th.primary,
.table > tfoot > tr > th.primary,
.table > thead > tr.primary > td,
.table > tbody > tr.primary > td,
.table > tfoot > tr.primary > td,
.table > thead > tr.primary > th,
.table > tbody > tr.primary > th,
.table > tfoot > tr.primary > th {
  background-color: #ffb800;
  color: #f7e8c0;
  border-bottom: 1px solid #ffb800;
}
.table > thead > tr > th.warm,
.table > tbody > tr > th.warm,
.table > tfoot > tr > th.warm,
.table > thead > tr.warm > td,
.table > tbody > tr.warm > td,
.table > tfoot > tr.warm > td,
.table > thead > tr.warm > th,
.table > tbody > tr.warm > th,
.table > tfoot > tr.warm > th {
  background-color: hsl(51, 93%, 54%);
  border-bottom: 1px solid hsl(51, 93%, 54%);
  color: #f7f8ac;
}
.table-border > tbody > tr > td,
.table-border > thead > tr > th,
.table-border > tfoot > tr > td {
  border: 1px solid #e0e0e0;
}

/* 黑色表格 */
.table-inverse {
  background-color: #393d49;
}
.table-inverse > tbody > tr > td {
  text-align: center;
  color: #ccc;
  border-bottom: 1px solid #333332;
}
.table-inverse > thead > tr > th,
.table-inverse > tfoot > tr > td,
.table-inverse > tbody > tr > th {
  text-align: center;
  color: #a6b1b1;
  border-bottom: 2px solid #000;
}
.table-inverse > thead > tr > th:last-child,
.table-inverse > tfoot > tr > td:last-child,
.table-inverse > tbody > tr > th:last-child {
  border-right: 1px solid #393d49;
}

.table-inverse-striped > tbody > tr:nth-of-type(odd) > td {
  background-color: #303242;
  border-bottom: 1px solid #393d49;
  color: rgb(138, 140, 156);
  text-align: center;
}
.table-inverse-striped > tbody > tr:nth-of-type(even) > td {
  background-color: #393d49;
  border-bottom: 1px solid #303242;
  color: #ccc;
  text-align: center;
}
.table-inverse-striped > thead > tr > th,
.table-inverse-striped > tbody > tr > th {
  background-color: #393d49;
  border-bottom: 1px solid #303242;
  color: #ccc;
  font-weight: 900;
  text-align: center;
}

.table-inverse-hover.table-inverse > tbody > tr:hover > td,
.table-inverse-hover.table-inverse-striped > tbody > tr:hover > td {
  background-color: #000;
  color: #fff;
}

/* 写兼容那个移动端的表格； */
@media screen and (max-width: 768px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    /* overflow-style: autohiding-scrollbar; */
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #e0e0e0;
  }
  .table-responsive {
    /* 当到达移动端收；不让加大高度 */
    min-height: 0.01%;
    overflow-x: auto;
  }
  /* 实现横向滚动表格 */
  @media screen and (max-width: 768px) {
    .table-responsive > .table > thead > tr > th,
    .table-responsive > .table > tbody > tr > th,
    .table-responsive > .table > tfoot > tr > th,
    .table-responsive > .table > thead > tr > td,
    .table-responsive > .table > tbody > tr > td,
    .table-responsive > .table > tfoot > tr > td {
      white-space: nowrap;
    }
  }
}

/* 没有做等宽选择器
  给 td 设置最小宽度
  */



/* 分页样式 */
/* 这里面 写分页的样式 */
.page {
  width: 100%;
}

.pagination {
  display: inline-block;
  margin: 20px 15px;
}

.pagination > li > a {
  display: inline-block;
  padding: 15px;
  border: 1px solid #ccc;
  text-decoration: none;
  color: #303030;
}

.pagination > li {
  display: inline-block;
  /* float: left; */
  list-style: none;
}

/* 清除浮动 */

/* 鼠标经过换背景色 字体颜色 */
.pagination-bgc > li > a {
  background-color: #f4f4f5;
  color: #303133;
  font-size: 12px;
  font-weight: 900;
  border: 1px solid #f4f4f5;
  padding: 10px;
}

.pagination-bgc .active > a {
    background-color: #40b6ff;
  color: #fff;
}
.pagination-bgc > li > a:hover {
  background-color: #40b6ff;
  color: #fff;
}


/* 小型分页 不带边框 */
.pagination-noBgc>li>a{
  color: #303133;
  font-size: 14px;
  font-weight: 900;
  border: 1px solid transparent;
  padding: 5px;
}

.pagination-noBgc .active > a {
  color: #0653fa;
}
.pagination-noBgc > li > a:hover {
  color: #0653fa;
}


/* 暗黑系 分页 */
.pagination-inverse>li>a{
    background-color: #393d49;
    color:#ccc ;
    font-size: 14px;
    border: 1px solid #393d49;
    padding: 5px 10px;
}
.pagination-inverse>li{
    float: left;
}
.pagination-inverse>li>a:hover{
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
}

.pagination-inverse .active>a{
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
}
/* 大的暗黑系分页 */
.pagination-inverse-lg>li>a{
    background-color: #393d49;
    color:#ccc ;
    font-size: 16px;
    border: 1px solid #393d49;
    padding: 8px 12px;
}
.pagination-inverse-lg>li>a:hover{
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
}
.pagination-inverse-lg>li{
    float: left;
}
.pagination-inverse-lg .active>a{
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
}


/* 单选多选框样式 */
.circle-check,.square-check,.check-content{
  display: inline-block;
}
.circle-check .check-content{
  margin-left: 10px;
}
.square-check .check-content{
  margin-left: 10px;
}
.circle-check > input[type="checkbox"] {
  width: 1.64rem;
  height: 1.64rem;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 1.64rem;
  position: relative;
  border-radius: 50%;
  outline: none;
  -webkit-appearance: none;
  border: 1px solid #fff;
  -webkit-tab-highlight-color: rgba(0, 0, 0, 0);
  color: #fff;
  background: #fff;
}
.circle-check > input[type="checkbox"]::before {
  box-sizing: border-box;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  height: 100%;
  border: 1px solid #999999;
  border-radius: 50%;
  color: #fff;
}
.circle-check > input[type="checkbox"]:checked::before {
  content: "\2713";
  background-color: #657afe;
  border: 1px solid #657afe;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  font-size: 1.4rem;
  border-radius: 50%;
}
.circle-check > input[type="checkbox"]:disabled::before {
  background: #eee;
  cursor: default;
}

.square-check > input[type="checkbox"] {
  overflow: hidden;
  width: 1.64rem;
  height: 1.64rem;
  vertical-align: middle;
  outline: none;
  line-height: 1.64rem;
  text-align: center;
  /* 清空表单元素默认样式：input 凸起或者凹进去的  浅灰色背景色 */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  /* 行高颜色 解决移动端按钮；点击出现透明灰色样式 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  background-color: #fff;
  border: 1px solid #ccc;
  position: relative;

  color: #fff;
}
.square-check > input[type="checkbox"]::before {
    /* 对号的转义字符 */
  content: "\2713";
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: 10;
  width: 100%;
  height: 100%;
  /* border: 1px solid #ccc; */
}
/* 选中checkbox 没有选中时候；伪元素的样式 */
.square-check > input[type="checkbox"]:disabled::before {
  background-color: #fff;
}

.square-check > input[type="checkbox"]:checked::before {
  content: "\2713";
  background: #657afe;
  border: 1px solid #657afe;
}
.square-check > input[type="checkbox"]:checked {
  border: 1px solid transparent;
}
.square-check > input[type="checkbox"]:disabled {
  border: 1px solid #ccc;
}

/* 滑块进度条 */

body{
  margin: 0;
}
.slider-wrap{
  width: 100%;
  border: 1px solid #ccc;
  margin: 15px 0px;
  position: relative;
  border-radius: 3px;
}
.sliderbar{
  width: 100%;
  height: 10px;
  background-color: rgb(235, 149, 11);
  border-radius: 3px;
  animation:  progress   10s linear;
}
.sliderbar>.sliderbar-control{
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: rgb(235, 149, 11);
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: calc(100%-25px);
  top: -9px;
  text-align: center;
  line-height: 25px;
  animation:  move 10s linear;
  

}
@keyframes progress{
  from{
        width: 0%;
  }
  to{
        width: 100%;
  }
}
@keyframes move{
  from{
      left: 0%;
  }
  to{
      left: 100%
  }
}


.sliderbar-success{
  background-color: springgreen;
}
.sliderbar-success>.sliderbar-control{
  border: 1px solid springgreen;
}

.sliderbar-info{
  background-color: steelblue;
}
.sliderbar-info>.sliderbar-control{
  border: 1px solid steelblue;
}

.sliderbar-primary{
  background-color: #303242;
}
.sliderbar-primary>.sliderbar-control{
  border: 1px solid #303242;
}

.sliderbar-error{
  background-color: red;
}
.sliderbar-error>.sliderbar-control{
 border: 1px solid red;
}


/* 同权重；把代码放在下面
不同权重；给需要显示的属性；所在选择器加大权重
*/


/* switch 开关按钮 */

 /* 必须是input 为 checkbox class 添加 switch 才能实现以下效果 */
 input[type=checkbox].switch{
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  width: 2.8rem;
  height: 1.52rem;
  border: 1px solid #ccc;
  background-color: #ccc;
  border-radius: 0.7rem;
}
input[type=checkbox].switch::after{
  content: "";
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 0 2px #999;
  transition: left 0.1s;
  position: absolute;
  top: 0;
  left: 0;
}
input[type=checkbox].switch:checked{
  background-color: #32ba58;
}
/* 
1：默认为不被选中状态
当input[type=checkbox] 被选中的时候；伪元素显示下面的样式 位置发生变化
*/
input[type=checkbox].switch:checked::after{
  position: absolute;
  top: 0;
  left: 1.4rem;
}


/* 状态 */
input[type=checkbox]:checked.switch.switch-info{
  background-color:#33a3dc;
}
input[type=checkbox]:checked.switch.switch-danger{
  background-color: rgb(255,73,73);
}
input[type=checkbox]:checked.switch.switch-primary{
 background-color: #33a3dc;
}
input[type=checkbox].switch.switch-primary{
 background-color: rgb(255,73,73);
}
input[type=checkbox]:checked.switch.switch-warm{
  background-color: hsl(51,93%,54%);
}




/* 导航条css代码 */
/* 
导航条 不兼容移动端
*/
.nav {
  display: block;
  width: 100%;
  /* 高度不能受限制 */
}
.nav,
.nav > ul {
  padding: 0px 10px;
}
.nav li {
  list-style: none;
  float: left;
}
/* 给祖籍元素 */
.nav::after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  zoom: 1;
}
.nav li > a {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  color: #000;
  padding: 15px;
}

.nav-tab {
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.nav-tab .active > a {
  border: 1px solid #ccc;
  border-bottom: 1px solid #fff;
  box-shadow: 1px 1px 15px 0px #ccc;
  font-weight: bold;
}
.nav-tab li {
  float: left;
  position: relative;
  top: 1px;
}
.nav-tab li > a:hover {
  border: 1px solid #ccc;
  border-bottom: 1px solid #fff;
  box-shadow: 1px 1px 15px 0px #ccc;
  font-weight: bold;
}

.nav-pills .active > a {
  background-color: #409eff;
  color: #fff;
}
.nav-pills li > a:hover {
  background-color: #409eff;
  color: #fff;
}
.nav-pills {
  box-shadow: 0px 2px 5px 0px #ccc;
}

.nav-stacked li {
  width: 100%;
  text-align: center;
}
/* .nav-stacked{
    padding: 0px !important;
} */
.nav-stacked li > a {
  width: 100%;
  text-align: center;
}

/* 导航条样式 */

/* 背景色为黑色的导航条 橙色字体导航条 */
.nav-inverse {
  background-color: #545c64;
}
.nav-inverse .active > a {
  color: #ffba21;
  border-bottom: 2px solid #ffba21;
}
.nav-inverse li > a {
  color: #ffffff;
}
.nav-inverse li > a:hover {
  color: #ffba21;
  border-bottom: 2px solid #ffba21;
}

/* 纵向的橙色导航条 */
.nav-inverse-gray {
  background-color: #545c64;
}
.nav-inverse-gray,
.nav-inverse-gray > li {
  padding: 0px !important;
}
.nav-inverse-gray li {
  width: 100%;
  text-align: center;
}
.nav-inverse-gray li > a {
  width: 100%;
  color: #ffffff;
}
.nav-inverse-gray li > a:hover {
  color: #ffba21;
  background-color: #434a50;
}
.nav-inverse-gray .active > a {
  color: #ffba21;
  background-color: #434a50;
}

/* 纵向的蓝色 黑底导航条 */
.nav-inverse-stacked {
  background-color: #545c64;
}
.nav-inverse-stacked,
.nav-inverse-stacked > li {
  padding: 0px !important;
}
.nav-inverse-stacked li {
  width: 100%;
  text-align: center;
}
.nav-inverse-stacked li > a {
  width: 100%;
  color: #ffffff;
}
.nav-inverse-stacked li > a:hover {
  color: #799fd8;
  background-color: #434a50;
}
.nav-inverse-stacked .active > a {
  color: #799fd8;
  background-color: #434a50;
}

/* 背景色为黑色的横向导航条  蓝字的导航条*/
.nav-inverse-black {
  background-color: #545c64;
}
.nav-inverse-black .active > a {
  color: #799fd8;
  border-bottom: 2px solid #799fd8;
}
.nav-inverse-black li > a {
  color: #fff;
}
.nav-inverse-black li > a:hover {
  color: #799fd8;
  border-bottom: 2px solid #799fd8;
}



/* 定位 */
.nav-fixed-top{
    position: fixed;
    top: 0;
}
.nav-fixed-left{
    position: fixed;
    left: 0;
}
.nav-fixed-right{
    position: fixed;
    right: 0;
}
.nav-fixed-right-15{
    position: fixed;
    right: 15px;
}





/* 表单组件 */
/* 表单组件 */

/* 清空表单的默认样式 */
input {
  /* 输入框没有边框 */
  border: none;
  /* 清空默认样式；输入框样式 按钮样式 选择框样式 */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* 获取焦点的默认样式 清空 */
  outline: none;
  -webkit-outlin: none;
  -moz-outline: none;
}

/* 默认的表单样式 */
/* 默认的from-group */
.form-group {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
.form-control {
  display: block;
  border: 1px solid#ccc;
  padding: 10px 10px;
  width: 100%;
}
/* input 获取焦点的时候 .form-control显示的样式 可以自定义改变颜色 */
/* 可以将其他元素变为 表单元素 :focus 只针对有可以获取焦点的元素 */
.form-group .form-control:focus {
  outline: 1px solid #409eff;
}
.form-label {
  font-weight: bolder;
  display: inline-block;
  padding-bottom: 5px;
  padding: 5px 3px 5px 5px;
}
/* 
基础样式：权重最低；随时可以附带；代替

可选择样式：在基础上进行样式添加 通过权重级别高低来覆盖样式

自定义：给用户足够空间 让用户通过；搭建不同结构，自己进行样式添加

结构：1：占多少份；2：如何布局
*/
@media screen and (min-width: 768px) {
  .form-inline .form-group {
    display: inline-block;
    /* 宽度 auto 自动 宽度由子元素撑起来 */
    width: auto;
  }
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    padding: 6px 12px;
  }

  .form-horizotal {
    text-align: center;
  }
  .form-horizotal .form-group::after {
    content: "";
    display: table;
  }
  .form-horizotal .form-label {
    display: inline-block;
    max-width: 100%;
    min-width: 16.6666667%;
    width: auto;
    text-align: right;
    padding: 6px 12px;
  }
  .form-horizotal .form-control {
    display: inline-block;
    margin-left: -5px;
    min-width: 83.3333333%;
    max-width: 100%;
    width: auto;
  }
  .form-horizotal .form-group {
    width: 100%;
  }
  .form-check > .form-check-item {
    display: inline-block;
    margin-left: -4px;
    /* float: left; */
    width: 33%;
    text-align: left;
    margin-bottom: 10px;
  }
}
.form-check > .form-check-item {
  display: inline-block;
  margin-left: -4px;
  /* float: left; */
  width: 33%;
  text-align: left;
  margin-bottom: 10px;
}

/* 另外一个表单组件控件 */
.form-horizotal .form-check {
  display: inline-block;
  margin-left: -5px;
  min-width: 83.3333333%;
  max-width: 100%;
  width: auto;
  vertical-align: text-top;
  text-align: left;
}






/* 栅格系统 */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* 将所有使用栅格系统的元素变为inline-block */
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
  float: left;
  position: relative;
  min-width: 1px;
}

/* 超级小屏幕  xs */

  .col-xs-1 {
    width: 8.3333333%;
  }
  .col-xs-2 {
    width: 16.6666667%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.3333333%;
  }
  .col-xs-5 {
    width: 41.6666667%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.3333333%;
  }
  .col-xs-8 {
    width: 66.6666667%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.3333333%;
  }
  .col-xs-11 {
    width: 91.6666667%;
  }
  .col-xs-12 {
    width: 100%;
  }

  /* 偏移量 */
  .col-xs-offset-1 {
    margin-left: 8.3333333%;
  }
  .col-xs-offset-2 {
    margin-left: 16.6666667%;
  }
  .col-xs-offset-3 {
    margin-left: 25%;
  }
  .col-xs-offset-4 {
    margin-left: 33.3333333%;
  }
  .col-xs-offset-5 {
    margin-left: 41.6666667%;
  }
  .col-xs-offset-6 {
    margin-left: 50%;
  }
  .col-xs-offset-7 {
    margin-left: 58.3333333%;
  }
  .col-xs-offset-8 {
    margin-left: 66.6666667%;
  }
  .col-xs-offset-9 {
    margin-left: 75%;
  }
  .col-xs-offset-10 {
    margin-left: 83.3333333%;
  }
  .col-xs-offset-11 {
    margin-left: 91.6666667%;
  }
  .col-xs-offset-12 {
    margin-left: 100%;
  }

  /* 往左移动 */
  .col-xs-pull-0 {
    right: 0;
  }
  .col-xs-pull-1 {
    right: 8.3333333%;
  }
  .col-xs-pull-2 {
    right: 16.6666667%;
  }
  .col-xs-pull-3 {
    right: 25%;
  }
  .col-xs-pull-4 {
    right: 33.3333333%;
  }
  .col-xs-pull-5 {
    right: 41.6666667%;
  }
  .col-xs-pull-6 {
    right: 50%;
  }
  .col-xs-pull-7 {
    right: 58.3333333%;
  }
  .col-xs-pull-8 {
    right: 66.6666667%;
  }
  .col-xs-pull-9 {
    right: 75%;
  }
  .col-xs-pull-10 {
    right: 83.3333333%;
  }
  .col-xs-pull-11 {
    right: 91.6666667%;
  }
  .col-xs-pull-12 {
    right: 100%;
  }

/* 往右移动 */
.col-xs-push-0 {
    left: 0;
  }
  .col-xs-push-1 {
    left: 8.3333333%;
  }
  .col-xs-push-2 {
    left: 16.6666667%;
  }
  .col-xs-push-3 {
    left: 25%;
  }
  .col-xs-push-4 {
    left: 33.3333333%;
  }
  .col-xs-push-5 {
    left: 41.6666667%;
  }
  .col-xs-push-6 {
    left: 50%;
  }
  .col-xs-push-7 {
    left: 58.3333333%;
  }
  .col-xs-push-8 {
    left: 66.6666667%;
  }
  .col-xs-push-9 {
    left: 75%;
  }
  .col-xs-push-10 {
    left: 83.3333333%;
  }
  .col-xs-push-11 {
    left: 91.6666667%;
  }
  .col-xs-push-12 {
    right: 100%;
  }



/* 小屏幕 sm */
@media screen and (min-width: 768px) and (max-width: 992px) {
  .col-sm-1 {
    width: 8.3333333%;
  }
  .col-sm-2 {
    width: 16.6666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.3333333%;
  }
  .col-sm-5 {
    width: 41.6666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.3333333%;
  }
  .col-sm-8 {
    width: 66.6666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.3333333%;
  }
  .col-sm-11 {
    width: 91.6666667%;
  }
  .col-sm-12 {
    width: 100%;
  }

  /* 偏移量 */
  .col-sm-offset-1 {
    margin-left: 8.3333333%;
  }
  .col-sm-offset-2 {
    margin-left: 16.6666667%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-4 {
    margin-left: 33.3333333%;
  }
  .col-sm-offset-5 {
    margin-left: 41.6666667%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-7 {
    margin-left: 58.3333333%;
  }
  .col-sm-offset-8 {
    margin-left: 66.6666667%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-10 {
    margin-left: 83.3333333%;
  }
  .col-sm-offset-11 {
    margin-left: 91.6666667%;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  /* 往右走 */
  .col-sm-pull-0 {
    right: 0;
  }
  .col-sm-pull-1 {
    right: 8.3333333%;
  }
  .col-sm-pull-2 {
    right: 16.6666667%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-4 {
    right: 33.3333333%;
  }
  .col-sm-pull-5 {
    right: 41.6666667%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-7 {
    right: 58.3333333%;
  }
  .col-sm-pull-8 {
    right: 66.6666667%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-10 {
    right: 83.3333333%;
  }
  .col-sm-pull-11 {
    right: 91.6666667%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  /* 往右走 */
  .col-sm-push-0 {
    left: 0;
  }
  .col-sm-push-1 {
    left: 8.3333333%;
  }
  .col-sm-push-2 {
    left: 16.6666667%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-4 {
    left: 33.3333333%;
  }
  .col-sm-push-5 {
    left: 41.6666667%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-7 {
    left: 58.3333333%;
  }
  .col-sm-push-8 {
    left: 66.6666667%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-10 {
    left: 83.3333333%;
  }
  .col-sm-push-11 {
    left: 91.6666667%;
  }
  .col-sm-push-12 {
    right: 100%;
  }

}

/* 中等屏幕 md */
@media screen and (min-width: 992px) {
  .col-md-1 {
    width: 8.3333333%;
  }
  .col-md-2 {
    width: 16.6666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.3333333%;
  }
  .col-md-5 {
    width: 41.6666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.3333333%;
  }
  .col-md-8 {
    width: 66.6666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.3333333%;
  }
  .col-md-11 {
    width: 91.6666667%;
  }
  .col-md-12 {
    width: 100%;
  }

  /* 偏移量 */
  .col-md-offset-1 {
    margin-left: 8.3333333%;
  }
  .col-md-offset-2 {
    margin-left: 16.6666667%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-4 {
    margin-left: 33.3333333%;
  }
  .col-md-offset-5 {
    margin-left: 41.6666667%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-7 {
    margin-left: 58.3333333%;
  }
  .col-md-offset-8 {
    margin-left: 66.6666667%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-10 {
    margin-left: 83.3333333%;
  }
  .col-md-offset-11 {
    margin-left: 91.6666667%;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  /* 往左走 */
  .col-md-pull-0 {
    right: 0;
  }
  .col-md-pull-1 {
    right: 8.3333333%;
  }
  .col-md-pull-2 {
    right: 16.6666667%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-4 {
    right: 33.3333333%;
  }
  .col-md-pull-5 {
    right: 41.6666667%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-7 {
    right: 58.3333333%;
  }
  .col-md-pull-8 {
    right: 66.6666667%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-10 {
    right: 83.3333333%;
  }
  .col-md-pull-11 {
    right: 91.6666667%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  /* 往右走 */
  .col-md-push-0 {
    left: 0;
  }
  .col-md-push-1 {
    left: 8.3333333%;
  }
  .col-md-push-2 {
    left: 16.6666667%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-4 {
    left: 33.3333333%;
  }
  .col-md-push-5 {
    left: 41.6666667%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-7 {
    left: 58.3333333%;
  }
  .col-md-push-8 {
    left: 66.6666667%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-10 {
    left: 83.3333333%;
  }
  .col-md-push-11 {
    left: 91.6666667%;
  }
  .col-md-push-12 {
    right: 100%;
  }

}

/* 大屏幕 lg */
@media screen and (min-width: 1200px) {
  .col-lg-1 {
    width: 8.3333333%;
  }
  .col-lg-2 {
    width: 16.6666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.3333333%;
  }
  .col-lg-5 {
    width: 41.6666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.3333333%;
  }
  .col-lg-8 {
    width: 66.6666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.3333333%;
  }
  .col-lg-11 {
    width: 91.6666667%;
  }
  .col-lg-12 {
    width: 100%;
  }

  /* 偏移量 */
  .col-lg-offset-1 {
    margin-left: 8.3333333%;
  }
  .col-lg-offset-2 {
    margin-left: 16.6666667%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-4 {
    margin-left: 33.3333333%;
  }
  .col-lg-offset-5 {
    margin-left: 41.6666667%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-7 {
    margin-left: 58.3333333%;
  }
  .col-lg-offset-8 {
    margin-left: 66.6666667%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-10 {
    margin-left: 83.3333333%;
  }
  .col-lg-offset-11 {
    margin-left: 91.6666667%;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }

  /* 往左走 */
  .col-lg-pull-0 {
    right: 0;
  }
  .col-lg-pull-1 {
    right: 8.3333333%;
  }
  .col-lg-pull-2 {
    right: 16.6666667%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-4 {
    right: 33.3333333%;
  }
  .col-lg-pull-5 {
    right: 41.6666667%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-7 {
    right: 58.3333333%;
  }
  .col-lg-pull-8 {
    right: 66.6666667%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-10 {
    right: 83.3333333%;
  }
  .col-lg-pull-11 {
    right: 91.6666667%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  /* 往右走 */
  .col-lg-push-0 {
    left: 0;
  }
  .col-lg-push-1 {
    left: 8.3333333%;
  }
  .col-lg-push-2 {
    left: 16.6666667%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-4 {
    left: 33.3333333%;
  }
  .col-lg-push-5 {
    left: 41.6666667%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-7 {
    left: 58.3333333%;
  }
  .col-lg-push-8 {
    left: 66.6666667%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-10 {
    left: 83.3333333%;
  }
  .col-lg-push-11 {
    left: 91.6666667%;
  }
  .col-lg-push-12 {
    right: 100%;
  }


}



/* navbar 权重问题 */

.navbar-form-control .form-control{
  display: inline-block;
  width: auto;
  border: none;
  outline: none;
  appearance: none;
}
.navbar-form-control .form-control:focus{
  outline: none;
}
.navbar {
  /* 可替换 */

  overflow: hidden;
}
.navbar-default {
  background-color: rgb(221, 218, 218);
}
.navbar-header {
  float: left;
  line-height: 3.125rem;
}
.navbar-header::after {
  content: "";
  clear: both;
  visibility: hidden;
  display: block;
}
.navbar > .navbar-header > .navbar-logo {
  float: left;
}
.navbar > .navbar-header > .navbar-logo::after {
  content: "";
  clear: both;
  visibility: hidden;
  display: block;
}
.collapse {
  display: none;
}
.navbar > .navbar-header a {
  font-size: 25px;
  padding: 7px;
}
/* 
 默认：
 html width:100%  =  100rem
 */
.navbar .navbar-nav {
  float: left;
  min-width: 30rem;
  width: 30rem;
}
.navbar .navbar-nav::after {
  content: "";
  clear: both;
  visibility: hidden;
  display: block;
}
.navbar > .navbar-collapse > .navbar-nav > .nav {
  margin: 0;
}
.navbar > .navbar-collapse > .navbar-nav > .nav a {
  line-height: 1.6rem;
}
.navbar-form {
  float: left;
  padding: 10px 0px;
}
.navbar-form::after {
  content: "";
  clear: both;
  /* 隐藏；但是占据位置 */
  visibility: hidden;
  display: block;
}
.navbar-form > input {
}
.navbar-form-control {
  border: 1px solid #ccc;
  padding-left: 5px;
  background-color: #ccc;
}
.navbar-form-control > input {
  background-color: #ccc;
  padding: 0px 10px;
}
.navbar-form-control > .btn {
  margin-left: -5px;
}
.navbar > .navbar-collapse > .navbar-right > .nav {
  margin: 0;
}
.navbar > .navbar-collapse > .navbar-right {
  float: right;
}
.navbar > .navbar-collapse > .navbar-right::after {
  content: "";
  clear: both;
  /* 隐藏；但是占据位置 */
  visibility: hidden;
  display: block;
}
/* 状态栏 */
.navbar-info {
  background-color: blue;
}
.navbar-info .navbar-form-control {
  border: 1px solid #ffffff;
  padding-left: 5px;
  background-color: #ffffff;
}
.navbar-info .navbar-form-control > input {
  background-color: #ffffff;
  padding: 0px 10px;
}
.navbar-primary {
  background-color: #b14a9d;
}
.navbar-primary .navbar-form-control {
  border: 1px solid #ffffff;
  padding-left: 5px;
  background-color: #ffffff;
}
.navbar-primary .navbar-form-control > input {
  background-color: #ffffff;
  padding: 0px 10px;
}
.navbar-inverse {
  background-color: #333333;
}
.navbar-inverse .navbar-form-control {
  border: 1px solid #ffffff;
  padding-left: 5px;
  background-color: #ffffff;
}
.navbar-inverse .navbar-form-control > input {
  background-color: #ffffff;
  padding: 0px 10px;
}

.navbar-info a,
.navbar-primary a,
.navbar-inverse a {
  color: #ffffff !important;
}
/* 
 @media 表示媒体查询
 screen 表示媒体设备   手机  平板   电脑
 and 条件  且
 max-width:768  查询条件  当屏幕尺寸 小于等于 768px 时候才可以执行以下样式 
 */
 .navbar-logo{
      width: 100%;
  }
@media screen and (max-width: 789px) {
  .navbar-header .collapse {
    display: block;
  }
  .navbar-header{
    width: 100%;
  }
  .navbar-header .navbar-toggle{
      width: 30px;
      height: 30px;
    float: right;
    border: 1px solid #fff;
    padding: 9px 10px;
    position: relative;
    margin-top: 10px;
    margin-right: 10px;
    background-color: #fff;
  }
  .navbar-header .navbar-toggle::after {
    content: "";
    clear: both;
    /* 隐藏；但是占据位置 */
    visibility: hidden;
    display: block;
  }
  .navbar .navbar-collapse{
      /* display: none; */
  }

  .navbar-toggle > .icon-line{
      display: inline-block;
      width: 22px;
      height: 2px;
      border: 1px solid #000;
      position: absolute;
      top: 5px;
      left: 3px;
  }
  .navbar-toggle > .icon-line::after{
      content: "";
      display: inline-block;
      width: 22px;
      height: 2px;
      border-bottom: 2px solid #000;
      position: absolute;
      top: 7px;
      left: -1px;
    
  }
   .navbar-toggle > .icon-line::before{
      content: "";
      display: inline-block;
      width: 22px;
      height: 2px;
      border-bottom: 2px solid #000;
      position: absolute;
      top: 15px;
      left: -1px;
  }
  .navbar-collapse>.navbar-nav>.nav{
      border-top: 1px solid #ccc;
  }
  .navbar-collapse .nav > li{
      width: 100%;           
  }
  .navbar-collapse,.navbar-right{
      width: 100%;
  }
  .navbar-collapse>.navbar-form{
      margin-left: 20px;
  }
}